body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  width: 90%;
  margin: 0 auto;
  background: white;
}

.center {
  text-align: center;
}

.pad-25 {
  padding: 25px;
}

.btn {
  font-size: 20px;
  background: lightgrey;
  border-radius: 10px 10px;
  margin-top: 10px;
  padding: 5px;
  font-family: cursive, serif;
}

.input-field {
  padding: 5px;
  font-size: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
  display: flex;
  border-radius: 10px 10px;
  flex: 1;
}

.btn:hover {
  background: grey;
  color: lightgrey;
}